.color-white {
    color: #fff;
}
.color-orange{
   color: #f56c4a;
}
.header-big {
    font-size: 2.5rem;
}

.header-medium {
    font-size: 2rem;
}

.header-small {
    font-size: 1.5rem;
}

.d-block {

    display: block;
}

.t-center{
    text-align: center;
}
.bg-orange{
background-color: #e76f51;
}
.p-small{
padding: 1rem;
}
.p-medium{
    padding: 2rem;
}
.p-big{
    padding: 3rem;
}


/* Warning section that the site is not real  
 */

 .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: rgba(0, 0, 0, 0.5); /* yarı şeffaf siyah */
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 9999;
    }

    /* Uyarı kutusu */
    .custom-alert {
      background: white;
      padding: 30px;
      border-radius: 10px;
      text-align: center;
      width: 90%;
      max-width: 400px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
      font-family: Arial, sans-serif;
    }

    .custom-alert h2 {
      margin-top: 0;
      color: #1A7372;
      margin-bottom: 0.4rem;
    }

    .custom-alert button {
      margin-top: 20px;
      padding: 10px 20px;
      background: #1A7372;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .custom-alert button:hover {
      background: #73461a;
    }